@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }

    section,
    .section-container {
        margin: 0 5%;
    }

    .section__pic-container {
        width: 200px;
        height: 200px;
        margin: 0 auto 2rem;
    }

    #profile {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .experience-details-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
    }

    .experience-left-container, .experience-right-container {
        width: 90%;
    }

    .section__text h1 {
        font-size: 2rem;
    }

    .skills-items-container {
        justify-content: space-around;
    }

    .skills-item {
        width: 20%;
    }

    .about-container {
        flex-direction: column;
    }

    #profile {
        flex-direction: column;
    }

    .section__pic-container {
        padding-top: 2rem;
        width: 200px;
        height: 200px;
        margin: 0 auto 2rem;
    }

    .skills-section-title {
        font-size: 1.75rem;
        text-align: center;
    }

    .about-me-text {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
